<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<b>Tabela estilo Light:</b>
<table table-responsive class="light-table">
	<thead>
		<tr>
			<th>Tipo</th>
			<th data-hide="phone">Sistema</th>
			<th>Usuario</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Severe</td>
			<td>SVL</td>
			<td>Jacqueline</td>
		</tr>
		<tr>
			<td>Fine</td>
			<td>BUN</td>
			<td>Toni</td>
		</tr>
		<tr>
			<td>Warning</td>
			<td>BUN</td>
			<td>Jacqueline</td>
		</tr>
	<thead>
		<tr>
			<th>Tipo</th>
			<th data-hide="phone">Sistema</th>
			<th>Usuario</th>
		</tr>
	</thead>
	</tbody>
</table>