@CHARSET "UTF-8";

.body{
	overflow-y: scroll;
	overflow-x: hidden;
	background: #DCDCDC;
}

.nav{
	margin-top: 40px;
	font-size: 18px;
}

.logo{
	position: static;
	resize: none;
	right;
}

.conteudo{
	margin: 20px;
	text-align: left;
}

.dropdown-menu{
	text-align: right;
}

.p-config{
	font-weight: bold;
}

.txt-cfg{
	font-size: 12px;
	line-height: 11px;
}

.botao-div{
    position: absolute;
    bottom: 0;
}

.tabela{
	line-height: 12px;
}

.exportar{
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 1px solid #CECECE;
	margin: 10px 0 10px 0;
	padding: 5px 5px 5px 10px;
	cursor: pointer;
}

a {
  color: #C42B2B;
  text-decoration: none;
}

.scrollup {
    position: static;
}

.wait {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../imgs/ajax-loader.gif') 
                50% 50% 
                no-repeat;
    text-align: center;
    font-size: 9px;
}

body.loading {
    overflow: hidden;   
}

body.loading .wait {
    display: block;
}
.dataGrafico{
	text-align: right;
	font-size: 10px;
	margin-top: 8px;
	magin-bottom: 0;
}