<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<h4>Home</h4>
		Vestibulum laoreet mollis odio, eu auctor turpis condimentum in.
		Mauris faucibus diam sit amet turpis vehicula, non posuere lectus
		dignissim.
	</div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	<h4>Profile</h4>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida
		arcu elit, eget vulputate enim luctus vel. Proin ac massa aliquet,
		placerat elit vel, sollicitudin sapien.
	</div>
    <div role="tabpanel" class="tab-pane" id="messages">
    	<h4>Messages</h4>
		Quisque fermentum ipsum vel nibh tristique, id viverra nisi lobortis.
		Etiam non tempus odio. Nunc quis felis eget lorem sagittis dignissim.
	</div>
    <div role="tabpanel" class="tab-pane" id="settings">
    	<h4>Settings</h4>
		Quisque fermentum ipsum vel nibh tristique, id viverra nisi lobortis.
		Etiam non tempus odio. Nunc quis felis eget lorem sagittis dignissim.
	</div>
  </div>
</div>
