<div class='modal-header'> 
    <h3 class='modal-title'>Título customizado</h3> 
</div>  
<div class='modal-body'>   
    <p>Este é um exemplo de Dialog a partir de um template.</br>
    O método ok() passa um valor de retorno para o controlador.</br>
    O método cancel() fecha sem chamar a função de callback.</p>
    <p class="fill-screen">
    	<b>Text:</b> <input type="text" placeholder="Um input"/>
    </p>
</div> 
<div class='modal-footer'> 
    <button class='btn btn-primary' ng-click='ok(1)'>Opção 1</button>  
    <button class='btn btn-info' ng-click='ok(2)'>Opção 2</button> 
    <button class='btn btn-warning' ng-click='ok(3)'>Opção 3</button> 
    <button class='btn btn-danger' ng-click='ok(4)'>Opção 4</button> 
    <button class='btn' ng-click='cancel()'>Cancelar</button> 
</div> "