
<div class="row">
    <div class="col-md-4 col-xs-12">
        <button class="btn-default larg-lg larg-ex" data-ng-click="controller.onClickDialogMensagem()">Diálogo de Mensagem</button>
    </div>
    <div class="col-md-4 col-xs-12">
        <button class="btn-info larg-lg larg-ex" data-ng-click="controller.onClickDialogConfirm()">Diálogo de Confirmação</button>
    </div>
    <div class="col-md-4 col-xs-12">
        <button class="btn-primary larg-lg larg-ex" data-ng-click="controller.onClickDialogSucesso()">Diálogo de Sucesso</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <button class="btn-danger larg-lg larg-ex" data-ng-click="controller.onClickDialogError()">Diálogo de Erro</button>
    </div>
    <div class="col-md-4 col-xs-12">
        <button class="btn-warning larg-ex" data-ng-click="controller.onClickDialogTemplate()">Diálogo com template</button>
    </div>
</div>   
