<article>
	<titulo>
	<i class="glyphicon glyphicon-resize-vertical"></i> Accordion</titulo>
	<p>O segmento de cada grupo que terá seu conteúdo <u>exibido/ocultado</u> deve <span class="bg-info">possuir um <b>ID</b> 
	que será o <b>"Data-Target"</b></span> do link que realizará a ação de <u>exibir/ocultar</u> deste segmento.</p>
	
	<subtitulo>Exemplo do Uso</subtitulo>
	
	<div ng-include="'components/ui-kit/accordion/accordion-example.html'"></div>
	
	<subtitulo>Uso:</subtitulo>
	<div ng-include="'components/ui-kit/accordion/accordion-source.html'"></div>	
	
</article>
