<p>Componente para selecionar Datas.</p>

<div class="row">
        <div class="col-md-6">
              <input bs-datepicker
	 	    		 class="form-control calendar" 
	 	    		 ng-model="controller.dataSelecionada" 
	 	    		 name="date" 
	 	    		 data-date-format="dd/MM/yyyy"  
	 	    		 type="text" 
	 	    		 placeholder="Data de Nascimento"
                     />
        </div>
    </div>
<br/>

<b>Saída:</b> <span ng-bind="controller.dataSelecionada | date: 'dd/MM/yyyy HH:mm'"></span><br><br>

