.recebimentos-content{
    position: relative;
    margin-top: -10px;

    img{
        width: 877px;
    }
    
    &__novo{
        position: absolute;
        width: 97px;
        height: 30px;
        bottom: 17px;
        right: 200px;
    }

    &__form{
        background: #fff;
        height: 100%;
        padding: 20px;
        border: 1px solid #ccc;
    }
}