<article>
	<titulo><i class="glyphicon glyphicon-plus"></i> Collapse</titulo>
	

	<p>O Bootstrap oferece o componente de <u>exibir/ocultar</u> determinado segmento da página. 
	Isso é feito com um botão ou link que ativa o script de mostrar/ocultar.</p>

	
	
	<subtitulo>Exemplo do Uso</subtitulo>
	<button class="btn btn-primary" type="button" data-toggle="collapse"
		data-target="#collapseExample" aria-expanded="false"
		aria-controls="collapseExample">
		<i class="glyphicon glyphicon-resize-vertical"></i> Collapse com botão
	</button>
	<div class="collapse" id="collapseExample">
		<pre class='hljs'>
			<code>&#60;button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Mostrar Código&#60;/button>
&#60;div class="collapse" id="collapseExample">Conteúdo a ser escondido/exibido.&#60;/div></code>
		</pre>
	</div>
	<br> <br> <a class="btn btn-primary" data-toggle="collapse"
		href="#collapseExample2" aria-expanded="false"
		aria-controls="collapseExample"> <i
		class="glyphicon glyphicon-resize-vertical"></i> Collapse com link
	</a>
	<div class="collapse" id="collapseExample2">
		<pre class='hljs'>
			<code>&#60;a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Mostrar Código&#60;/a>
&#60;div class="collapse" id="collapseExample2">Conteúdo a ser escondido/exibido.&#60;/div></code>
		</pre>
	</div>
	<br>
	<br>
	
	<p>O segmento da página que que terá seu conteúdo <u>exibido/ocultado</u> deve 
	<span class="bg-info">ter a classe <b>"collapse"</b> e um ID que será o <b>"Data-Target"</b></span> 
	do botão ou do link que realizará a ação de <u>exibir/mostrar</u> o segmento em questão.</p>
	
</article>
