<article>
	<titulo><i class="glyphicon glyphicon-text-color"></i> Cores</titulo>
	
	<p>Cores oficiais do TJSC e suas variações mais claras. Exemplo de uso:</p>
	<pre><code>&#60;span class="bg-red">Background&#60;/span>
&#60;span class="tx-red">Texto&#60;/span></code></pre>
	<hr>
	
	<div class="row">
		<div class="col-md-2"><b>Resultado:</b></div>
		<div class="col-md-10">
			<p><span class="bg-red">Background</span></p>
			<p><span class="tx-red">Texto</span></p>
		</div>
	</div>
	<hr>
	
	<h4><span class="bg-green-base" style="padding: 0 2px">&nbsp;&nbsp;&nbsp;</span> Green-Base</h4>
	<div class="panel panel-default">
  		<div class="panel-body">
			<p>Background:</p>
			<div class="row text-center">
				<div class="col-md-3 bg-green-base" style="padding: 10px; color: #fff">bg-green-base</div>
				<div class="col-md-3 bg-green-base-light" style="padding: 10px; color: #fff">bg-green-base-light</div>
				<div class="col-md-3 bg-green-base-lighter" style="padding: 10px; color: #fff">bg-green-base-lighter</div>
				<div class="col-md-3 bg-green-base-glow" style="padding: 10px; color: #fff">bg-green-base-glow</div>
			</div>
			<br>
			
			<p>Texto:</p>
			<div class="row text-center">
				<div class="col-md-3 tx-green-base" style="padding: 10px; border: 1px solid #ccc">tx-green-base</div>
				<div class="col-md-3 tx-green-base-light" style="padding: 10px; border: 1px solid #ccc">tx-green-base-light</div>
				<div class="col-md-3 tx-green-base-lighter" style="padding: 10px; border: 1px solid #ccc">tx-green-base-lighter</div>
				<div class="col-md-3 tx-green-base-glow" style="padding: 10px; border: 1px solid #ccc">tx-green-base-glow</div>
			</div>
	  </div>
	</div>
	<br>
	
	<h4><span class="bg-red" style="padding: 0 2px">&nbsp;&nbsp;&nbsp;</span> Red</h4>
	<div class="panel panel-default">
  		<div class="panel-body">
			<p>Background:</p>
			<div class="row text-center">
				<div class="col-md-3 bg-red" style="padding: 10px; color: #fff">bg-red</div>
				<div class="col-md-3 bg-red-light" style="padding: 10px; color: #fff">bg-red-light</div>
				<div class="col-md-3 bg-red-lighter" style="padding: 10px; color: #fff">bg-red-lighter</div>
				<div class="col-md-3 bg-red-glow" style="padding: 10px; color: #fff">bg-red-glow</div>
			</div>	
			<br>
			
			<p>Texto:</p>
			<div class="row text-center">
				<div class="col-md-3 tx-red" style="padding: 10px; border: 1px solid #ccc">tx-red</div>
				<div class="col-md-3 tx-red-light" style="padding: 10px; border: 1px solid #ccc">tx-red-light</div>
				<div class="col-md-3 tx-red-lighter" style="padding: 10px; border: 1px solid #ccc">tx-red-lighter</div>
				<div class="col-md-3 tx-red-glow" style="padding: 10px; border: 1px solid #ccc">tx-red-glow</div>
			</div>	
		</div>
	</div>
	<br>
	
	<h4><span class="bg-green" style="padding: 0 2px">&nbsp;&nbsp;&nbsp;</span> Green</h4>
	<div class="panel panel-default">
  		<div class="panel-body">
			<p>Background:</p>
			<div class="row text-center">
				<div class="col-md-3 bg-green" style="padding: 10px; color: #fff">bg-green</div>
				<div class="col-md-3 bg-green-light" style="padding: 10px; color: #fff">bg-green-light</div>
				<div class="col-md-3 bg-green-lighter" style="padding: 10px; color: #fff">bg-green-lighter</div>
				<div class="col-md-3 bg-green-glow" style="padding: 10px; color: #fff">bg-green-glow</div>
			</div>
			<br>
			
			<p>Texto:</p>
			<div class="row text-center">
				<div class="col-md-3 tx-green" style="padding: 10px; border: 1px solid #ccc">tx-green</div>
				<div class="col-md-3 tx-green-light" style="padding: 10px; border: 1px solid #ccc">tx-green-light</div>
				<div class="col-md-3 tx-green-lighter" style="padding: 10px; border: 1px solid #ccc">tx-green-lighter</div>
				<div class="col-md-3 tx-green-glow" style="padding: 10px; border: 1px solid #ccc">tx-green-glow</div>
			</div>
		</div>
	</div>
	
</article>
