<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
<article>
	<titulo>
	<i class="glyphicon glyphicon-th"></i> Grid</titulo>
	
	<p>O Grid Sytem funciona como o do Bootstrap, tendo o máximo de 12 colunas por linha.</p>
	
	<pre><code class="hljs">&#60;div class="grid">
	&#60;div class="col-4">Tam 6&#60;/div>
	&#60;div class="col-4">Tam 6&#60;/div>
	&#60;div class="col-4">Tam 6&#60;/div>
&#60;/div></code></pre>
	<br>
	
	<well>
		<div class="grid">
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
			<div class="col-1 border">Tam 1</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-2 border">Tam 2</div>
			<div class="col-2 border">Tam 2</div>
			<div class="col-2 border">Tam 2</div>
			<div class="col-2 border">Tam 2</div>
			<div class="col-2 border">Tam 2</div>
			<div class="col-2 border">Tam 2</div>
		</div>
		<br>
			
		<div class="grid">
			<div class="col-3 border">Tam 3</div>
			<div class="col-3 border">Tam 3</div>
			<div class="col-3 border">Tam 3</div>
			<div class="col-3 border">Tam 3</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-4 border">Tam 4</div>
			<div class="col-4 border">Tam 4</div>
			<div class="col-4 border">Tam 4</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-5 border">Tam 5</div>
			<div class="col-7 border">Tam 7</div>
		</div>
		<br>
			
		<div class="grid">
			<div class="col-6 border">Tam 6</div>
			<div class="col-6 border">Tam 6</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-7 border">Tam 7</div>
			<div class="col-5 border">Tam 5</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-8 border">Tam 8</div>
			<div class="col-4 border">Tam 4</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-9 border">Tam 9</div>
			<div class="col-3 border">Tam 3</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-10 border">Tam 10</div>
			<div class="col-2 border">Tam 2</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-11 border">Tam 11</div>
			<div class="col-1 border">Tam 1</div>
		</div>
		<br>
		
		<div class="grid">
			<div class="col-12 border">Tam 12</div>
		</div>
	</well>
	
	<b>Grid Comum:</b><br>
	<div class="grid">
		<div class="col-6">Ut eu vehicula augue. Mauris cursus felis mi,
			non congue nisl iaculis sed. Pellentesque quis tortor at lectus
			rutrum consequat. Morbi dignissim elit a nisi lacinia interdum.</div>
		<div class="col-6">Ut eu vehicula augue. Mauris cursus felis mi,
			non congue nisl iaculis sed. Pellentesque quis tortor at lectus
			rutrum consequat. Morbi dignissim elit a nisi lacinia in terdum.</div>
	</div>
	<br> 
	
	<pre><code class="hljs">&#60;div class="grid">
	&#60;div class="col-6">Texto&#60;/div>
	&#60;div class="col-6">Texto&#60;/div>
&#60;/div></code></pre>
	<br>
	
	<b>Grid com mais de uma linha:</b><br>
	<div class="grid">
		<div class="col-6">Linha 1</div>
		<div class="col-6 nextline">Linha 1</div>
		<br>
		<br>
		<div class="col-6">Linha 2</div>
		<div class="col-6">Linha 2</div>
	</div>
	<br>
	
	<pre><code class="hljs">&#60;div class="grid">
	&#60;div class="col-6">Texto Linha 1&#60;/div>
	&#60;div class="col-6 nextline">Texto Linha 1&#60;/div>
	&#60;div class="col-6">Texto Linha 2&#60;/div>
	&#60;div class="col-6">Texto Linha 2&#60;/div>
&#60;/div></code></pre>
	<br>
</article>