<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<article>
	<titulo><i class="glyphicon glyphicon-plus-sign"></i> Tags Personalizadas</titulo>
       
    <p>Tags &#60;titulo&#62; e &#60;subtitulo&#62;, representadas como:</p>

    <titulo>Título</titulo>
    <subtitulo>Subtítulo</subtitulo>
	<br>
	
    <p>Escrito como:</p>
    
    <pre><code class="hljs">&#60;titulo>Um Título&#60;/titulo>
&#60;subtitulo>Subtítulo&#60;/subtitulo></code></pre>

	<br>
    
    <p>Renderizado como:</p>
    <pre><code class="hljs">&#60;h3 class="titulo">Um Título&#60;/h3>
&#60;h5 class="subtitulo">Subtítulo&#60;/h5></code></pre>
    
</article>