<article>

	<titulo>
	<i class="glyphicon glyphicon-text-height"></i> Tipografia</titulo>
	<b>Justify</b><br>
	<p class="text-justify">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida
		arcu elit, eget <b>vulputate enim luctus vel</b>. Proin ac <b>massa
			aliquet</b>, placerat elit vel, sollicitudin sapien. Mauris in enim ut
		diam placerat dapibus. Quisque fermentum ipsum vel nibh tristique, id
		viverra nisi lobortis. Etiam non tempus odio. Nunc quis felis eget <b>lorem
			sagittis</b> dignissim. Curabitur quis sodales elit, nec rhoncus ligula.
	</p>
	<hr>
	
	<b>Center</b><br>
	<p class="text-center">
		<i>Pellentesque elit est</i>, tempus at nunc id, placerat mattis arcu.
		Mauris <i>ac mi vel lacus mollis finibus</i>. Sed ultricies
		condimentum massa vitae placerat. Ut eu vehicula augue. <i>Mauris
			cursus felis mi, non congue nisl iaculis sed</i>. Pellentesque quis
		tortor at lectus rutrum consequat. Morbi dignissim elit a nisi lacinia
		interdum.
	</p>
	<hr>
	
	<b>Right</b><br>
	<p class="text-right">
		Vestibulum <u>laoreet mollis odio</u>, eu auctor turpis condimentum
		in. Mauris faucibus diam sit amet turpis vehicula, non posuere lectus
		dignissim. Donec <u>tincidunt lacus sed elit</u> ornare bibendum.
		Mauris sed nulla faucibus, fringilla tellus ac, sodales risus. Donec
		diam nulla, varius eu dui a, <u>sagittis consequat</u> metus. In in
		neque dapibus, consectetur dolor ac, hendrerit risus. Duis iaculis
		finibus mauris ut porttitor.
	</p>
	<br>
	
	
		<subtitulo>Edição de Texto</subtitulo>
		<table table-responsive class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Tipo</th>
					<th data-hide="phone">Exemplo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Realce</td>
					<td>
						<b>Mauris faucibus diam sit amet turpis vehicula, non posuere lectus dignissim.</b>
					</td>
				</tr>
				<tr>
					<td>Itálico</td>
					<td><i>In in neque dapibus, consectetur dolor ac, hendrerit risus. Duis iaculis
						finibus mauris ut porttitor.</i></td>
				</tr>
				<tr>
					<td>Sublinhado</td>
					<td><u>Donec tincidunt lacus sed elit ornare bibendum.</u></td>
				</tr>
				<tr>
					<td>Destaque</td>
					<td>
						<mark>Sed ultricies
		condimentum massa vitae placerat. Ut eu vehicula augue.</mark>
					</td>
				</tr>
				<tr>
					<td>Uppercase</td>
					<td>
						<span class="text-uppercase">Pellentesque elit est, tempus at nunc id, placerat mattis arcu.
		Mauris ac mi vel lacus mollis finibus.</span>
					</td>
				</tr>
				<tr>
					<td>Lowecase</td>
					<td>
						<span class="text-lowercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</td>
				</tr>
				<tr>
					<td>Captalize</td>
					<td>
						<span class="text-capitalize">Quisque fermentum ipsum vel nibh tristique, id
		viverra nisi lobortis.</span> 
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th>Tipo</th>
					<th data-hide="phone">Exemplo</th>
				</tr>
			</thead>
		</table>
		<hr>

		<span>Abreviações e siglas estilizadas. Exemplo: <abbr
			title="Universidade Federal de Santa Catarina">UFSC</abbr>.
		</span>
	<blockquote>
		Vestibulum laoreet mollis odio, eu auctor turpis condimentum in.
		Mauris faucibus diam sit amet turpis vehicula, non posuere lectus
		dignissim. Donec tincidunt lacus sed elit ornare bibendum. <br>
		<footer>Citação</footer>
	</blockquote>
	<hr>

	<subtitulo>Headers</subtitulo>
	<h1>
		Título H1 <small>Texto Secundário</small>
	</h1>
	<h2>
		Título H2 <small>Texto Secundário</small>
	</h2>
	<h3>
		Título H3 <small>Texto Secundário</small>
	</h3>
	<h4>
		Título H4 <small>Texto Secundário</small>
	</h4>
	<h5>
		Título H5 <small>Texto Secundário</small>
	</h5>
	<h6>
		Título H6 <small>Texto Secundário</small>
	</h6>

</article>