<p>Componente para criar dowpdowns e autocompletes.</p>

<select 
	style="width: 350px;" 
	chosen options="controller.paises"
	ng-model="controller.selecionado"
	ng-options="p.id as p.nome for p in controller.paises">
</select>

<span ng-bind="controller.selecionado"></span>

<br>
<br>

<select 
	style="width: 500px;" 
	chosen multiple option="controller.paises"
	ng-model="controller.selecionadoMultiple"
	ng-options="p.id as p.nome for p in controller.paises">
</select>

<span ng-bind="controller.selecionadoMultiple"></span>

<br>
<br>

<select 
	style="width: 500px;" 
	chosen multiple option="controller.paises"
	ng-model="controller.selecionadoObjetos"
	ng-options="p as p.nome for p in controller.paises">
</select>

<span>{{controller.selecionadoObjetos}}</span>

<br>
<br>


<dropdown tipo="comarca" ng-model="controller.comarcaSelecionada"></dropdown>

<span>{{controller.comarcaSelecionada}}</span>


