<p>Componente para exibir alertas no canto inferior direito do sistema, que é exibido em um tempo pré-determinado.</p>

<div class="row">
    <div class="col-md-3 col-xs-12">
        <button class="btn-success larg-lg larg-ex" data-ng-click="controller.onClickAlertaSucesso()">Alerta de sucesso</button>
    </div>
    <div class="col-md-3 col-xs-12">
        <button class="btn-info larg-lg larg-ex" data-ng-click="controller.onClickAlertaInfo()">Alerta de info</button>
    </div>
    <div class="col-md-3 col-xs-12">
        <button class="btn-warning larg-lg larg-ex" data-ng-click="controller.onClickAlertaAtencao()">Alerta de atenção</button>
    </div>
    <div class="col-md-3 col-xs-12">
        <button class="btn-danger larg-lg larg-ex" data-ng-click="controller.onClickAlertaErro()">Alerta de erro</button>        
    </div>
</div>    
    
<br><br>
