<titulo><i class=" glyphicon glyphicon-gift"></i> Componentes</titulo>
<p>Lista de componentes concluídos.</p>
<br>

<titulo><i class="glyphicon glyphicon-warning-sign"></i> Alert</titulo>
<div ng-controller="alertShowcaseController as controller" ng-include="'components/alert/alert-example.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-exclamation-sign"></i> Bottom Alert</titulo>
<div ng-controller="bottomAlertShowcaseController as controller" ng-include="'components/bottom-alert/bottom-alert-example.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-ok-sign"></i> Chosen</titulo>
<div ng-controller="chosenShowcaseController as controller" ng-include="'components/chosen/chosen-example.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-th-list"></i> Combo Box</titulo>
<div ng-controller="comboShowcaseController as controller" ng-include="'components/combo/combo-example.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-calendar"></i> Datepicker</titulo>
<div ng-controller="datePickerShowcaseController as controller" ng-include="'components/date-picker/date-picker-example.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-warning-sign"></i> Spinner</titulo>
<div ng-controller="spinnerShowcaseController as controller" ng-include="'components/spinner/spinner-example.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-folder-open"></i> Abas</titulo>
<div ng-controller="abasSourceController as controller" ng-include="'components/ui-kit/abas/abas-example.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-resize-vertical"></i> Accordion</titulo>
<div ng-controller="accordionSourceController as controller" ng-include="'components/ui-kit/accordion/accordion-example.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-list-alt"></i> Formulário</titulo>
<div ng-controller="formSourceController as controller" ng-include="'components/ui-kit/form/form-example-estilizado.html'"></div>
<br><br>

<titulo><i class="glyphicon glyphicon-th-list"></i> Tabela</titulo>
<div ng-controller="tableSourceController as controller" ng-include="'components/ui-kit/table/padrao.html'"></div>
<br><br>

<div ng-include="'components/ui-kit/botoes.html'"></div>
<br><br>

<div ng-include="'components/ui-kit/collapse.html'"></div>
<br><br>

<div ng-include="'components/ui-kit/cores.html'"></div>
<br><br>

<div ng-include="'components/ui-kit/tipografia.html'"></div>
<br><br>