<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Menu</h3>
  </div>
  <div class="panel-body">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#/"><i class="glyphicon glyphicon-home"></i> Início</a></li>
		<li><a href="#/ui-kit/theme"><i class="glyphicon glyphicon-object-align-top"></i> Bootstrap Theme</a></li>
		<li><a href="#/componentes"><i class=" glyphicon glyphicon-gift"></i> Componentes</a></li>
		
        <li><subtitulo>Componentes</subtitulo></li>
		<li><a href="#/alert"><i class="glyphicon glyphicon-warning-sign"></i> Alert</a></li>
		<li><a href="#/bottom-alert"><i class="glyphicon glyphicon-exclamation-sign"></i> Bottom Alert</a></li>
		<li><a href="#/chosen"><i class="glyphicon glyphicon-ok-sign"></i> Chosen</a></li>
		<li><a href="#/date-picker"><i class="glyphicon glyphicon-calendar"></i> Date Picker</a></li>
        <li><a href="#/rich-text"><i class="glyphicon glyphicon-font"></i> Rich Text</a></li>
        <li><a href="#/spinner"><i class="glyphicon glyphicon-time"></i> Spinner</a></li>
      
		<li><a href="#/ui-kit/tabelas"><i class="glyphicon glyphicon-th"></i> Tabelas Responsivas</a></li>
		<li><a href="#/ui-kit/icones"><i class="glyphicon glyphicon-apple"></i> Ícones</a></li>
		<li><a href="#/ui-kit/abas"><i class="glyphicon glyphicon-folder-open"></i> Abas</a></li>
		<li><a href="#/ui-kit/collapse"><i class="glyphicon glyphicon-plus"></i> Collapse</a></li>
		<li><a href="#/ui-kit/accordion"><i class="glyphicon glyphicon-resize-vertical"></i> Accordion</a></li>
		<li><a href="#/"><i class="glyphicon glyphicon-user"></i> CRUD</a></li>
		<li><a href="#/"><i class=" glyphicon glyphicon-th-list"></i> Combo</a></li>
		
        <li><subtitulo>CSS</subtitulo></li>
		<li><a href="#/ui-kit/tipografia"><i class="glyphicon glyphicon-text-height"></i> Tipografia</a></li>
		<li><a href="#/ui-kit/formularios"><i class="glyphicon glyphicon-list-alt"></i> Formulários</a></li>
		<li><a href="#/ui-kit/botoes"><i class="glyphicon glyphicon-menu-hamburger"></i> Botões</a></li>
		<li><a href="#/ui-kit/cores"><i class="glyphicon glyphicon-text-color"></i> Cores</a></li>
		
	</ul>
  </div>
</div>