<form>
	<label>Nome: </label><br> 
	<input type="text" placeholder="Nome Completo" />
	<br>  
	
	<label>Email:</label><br> 
	<input type="email" placeholder="Endereço de E-mail" />
	<br>  
	
	<label>Sexo:</label><br>  
	<select>
		<option>Feminino</option>
		<option>Masculino</option>
	</select>
	<br> 
		
	<label>Data de Nascimento: </label><br>  
	<input type="text" class="calendar" datepicker2 placeholder="Escolha a data" /> 
	<br>
			
	<label>Opções: </label><br>		
	<div>
		<input type="radio" value="op1" name="option"> Opção 1<br> 
		<input type="radio" value="op2" name="option"> Opção 2<br> 
		<input type="radio" value="op3" name="option"> Opção 3	
	</div>
	<br>
	
	<label>Arquivo: </label><br>	
	<input id="my-file-selector" type="file">
	<br>
		
	<label>Senha: </label><br>	
		
	<input type="password" placeholder="Digite a senha"/>
	<br>
		
	<label>Textarea: </label><br>
	<textarea>Vestibulum laoreet mollis odio, eu auctor turpis condimentum in. 
		Mauris faucibus diam sit amet turpis vehicula, non posuere lectus dignissim.
	</textarea>
	<br> 
		
	<input type="checkbox" /> Aceito os Termos de Compromisso.
	<br><br>
	
	<input type="submit" class="btn-default" value="Submit">
	<input type="reset" value="Apagar">
	
</form>