<form action="" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Nome: </label>
	
		<div class="col-md-10">
			<input class="form-control" type="text" placeholder="Nome Completo" />	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Email:</label> 
		
		<div class="col-md-10">
			<input class="form-control" type="email" placeholder="Endereço de E-mail" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Sexo:</label> 
		
		<div class="col-md-10">
			<select class="form-control">
				<option>Feminino</option>
				<option>Masculino</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Nascimento: </label> 
		
		<div class="col-md-10">
			<input class="form-control calendar" type="text" datepicker2 placeholder="Escolha a data" /> 	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Opções: </label>
		
		<div class="col-md-10">
			<input type="radio" value="op1" name="option"> Opção 1<br> 
			<input type="radio" value="op2" name="option"> Opção 2<br> 
			<input type="radio" value="op3" name="option"> Opção 3	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Arquivo: </label>
		
		<div class="col-md-10">
			<input id="my-file-selector" class="form-control" type="file">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Senha: </label>
		
		<div class="col-md-10">
			<input class="form-control" type="password" placeholder="Digite a senha"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Textarea: </label>
		
		<div class="col-md-10">
			<textarea class="form-control">Vestibulum laoreet mollis odio, eu auctor turpis condimentum in. 
				Mauris faucibus diam sit amet turpis vehicula, non posuere lectus dignissim.
			</textarea>
		</div>
	</div>
	
	<input type="checkbox" /> Aceito os Termos de Compromisso.<br><br>
		
	<div class="text-right">
		<input type="submit" class="btn-default" value="Submit">
		<input type="reset" value="Apagar">
	</div>
	
</form>